@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Colors */
  --color-default: #0f172b;
  --color-gray: #f5f5f5;
  --color-test: #ff0000;
  --color-ct-blue: #0799ce;
  --color-gray-copy: #d1d5dc;

  --font-sans: "stolzl", sans-serif;
}

html,
body {
  @apply touch-pan-x;
  @apply touch-pan-y;
}

body {
  @apply font-sans;
  @apply bg-white;
  @apply dark:bg-slate-900;
}
